
.product-section {
    display: flex;
    display: -webkit-flex;
    padding: 150px 0 25px;
}

.product-section-image {
    margin-right: 1%;
    width: 49%;

    p {
        display: inline-block;
        text-transform: uppercase;
        vertical-align: top;
        font-weight: bold;
        letter-spacing: 0.2px;
        margin-top: 5px;
        margin-right: 10px;
    }
}

.product-section-information {
    margin-left: 1%;
    width: 49%;
    p {
        margin-bottom: 16px;
    }

}

.product-section-title {
    margin-bottom: 0;
}

.product-section-subtitle {
    font-size: 20px;
    font-weight: bold;
    color: $text-color-light;
}

.product-section-price {
    font-size: 38px;
    color: $text-color;
    margin-bottom: 16px;
}

.cause-banner {
    background-color: #12A8DE;
    text-align: center;
    padding: 20px 50px;

    h2 {
        margin-bottom: 0;
        text-transform: uppercase;
        font: bold 54px 'Roboto Condensed', sans-serif;
        z-index: 10;
        position: relative;

        span {
            display: inline-block;
            position: relative;
            z-index: 10;
        }

        span::after {
            height: 30px;
            position: absolute;
            background-color: #FFDA00;
            width: 100%;
            content:'';
            left: 0;
            z-index: -1;
            top: 15px;
        }
    }
}

.single-cause {
    padding: 100px 20px;
    a {
      transition: 0.2s;
    }
    .md-col-6 {
      width: 49%;
      float: left;
    }
    .md-col-6:first-of-type {
      margin-right: 2%;
    }
    h2 {
      color: #2FA9DD;
    }
    .main-img {
      width: 100%;
    }
    .logo {
      margin-bottom: 10px;
      height: 100px;
    }
    .social {
      margin-right: 20px;
    }
    .social:hover {
      opacity: .6;
    }
    .extra-info {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    a.tag:hover {
      text-decoration: underline;
    }
    @media only screen and (max-width: 767px) {
      .sm-col-12 {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    .cause-banner h2 {
        font-size: 40px;
    }

    .cause-banner h2 span::after {
        height: 20px;
        top: 13px;
    }

    .single-cause {
        padding: 50px 20px;
    }
  }