.purchase-tickets {
  height: 390px;
  position: relative;
  max-width: 1300px;
  margin: 0 auto;

  div {
    display: inline-block;
    width: 300px;
    position: absolute;
    right: 300px;
    bottom: 50px;
    text-align: center;
  }

  h2 {
    text-transform: uppercase;
    font: bold 40px 'Roboto Condensed', sans-serif;
  }
}